.md-typeset h1 {
    font-weight: bold;
    color: rgba(0, 0, 0, .87);
    border-bottom: 2px solid var(--md-primary-fg-color--dark);
    padding-bottom: .1em;
}

.md-typeset h2 {
    border-bottom: 1px solid var(--md-primary-fg-color--dark);
}
